input {
 udp {
   port  => 5000
   codec => json
 }
 tcp {
   port  => 5000
   codec => json
 }
}
filter {
  if "" in [docker][name] {
      mutate {
        gsub => [
          "[docker][name]", "[/\\?*|<>]", ""
        ]
      }
  }
}
output {
  if "" in [docker][name] {
      elasticsearch {
         hosts => ["elasticsearch:9200"]
         index => "%{[docker][name]}-%{+YYYY.MM.dd}"
      }
  } else {
      elasticsearch {
         hosts => ["elasticsearch:9200"]
      }
  }
  stdout { codec => rubydebug }
}